<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Shop</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckImg</display-name>
    <servlet-name>CheckImg</servlet-name>
    <servlet-class>service.CheckImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImg</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AutoLoginFilter</display-name>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>web.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>web.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveServlet</display-name>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>web.ActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCodeServet</display-name>
    <servlet-name>CheckCodeServet</servlet-name>
    <servlet-class>web.CheckCodeServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServet</servlet-name>
    <url-pattern>/checkCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>web.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCaotgryServlet</display-name>
    <servlet-name>FindCaotgryServlet</servlet-name>
    <servlet-class>web.FindCaotgryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCaotgryServlet</servlet-name>
    <url-pattern>/findCaotgry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>web.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>web.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/productInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCarServlet</display-name>
    <servlet-name>ProductCarServlet</servlet-name>
    <servlet-class>web.ProductCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCarServlet</servlet-name>
    <url-pattern>/productCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleProFromCarServlet</display-name>
    <servlet-name>DeleProFromCarServlet</servlet-name>
    <servlet-class>web.DeleProFromCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleProFromCarServlet</servlet-name>
    <url-pattern>/deleProFromCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCarServlet</display-name>
    <servlet-name>ClearCarServlet</servlet-name>
    <servlet-class>web.ClearCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCarServlet</servlet-name>
    <url-pattern>/clearCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>web.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/addOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrdersServlet</display-name>
    <servlet-name>MyOrdersServlet</servlet-name>
    <servlet-class>web.MyOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrdersServlet</servlet-name>
    <url-pattern>/myOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitOrderServlet</display-name>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>web.SubmitOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/submitOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>web.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/exit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductServlet</display-name>
    <servlet-name>AdminProductServlet</servlet-name>
    <servlet-class>web.AdminProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductServlet</servlet-name>
    <url-pattern>/adminProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelProductServlet</display-name>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <servlet-class>web.AdminDelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <url-pattern>/adminDelProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProduct</display-name>
    <servlet-name>SearchProduct</servlet-name>
    <servlet-class>web.SearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProduct</servlet-name>
    <url-pattern>/searchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCacotery</display-name>
    <servlet-name>AdminCacotery</servlet-name>
    <servlet-class>web.AdminCacotery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCacotery</servlet-name>
    <url-pattern>/adminCacotery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProduct</display-name>
    <servlet-name>AdminEditProduct</servlet-name>
    <servlet-class>web.AdminEditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProduct</servlet-name>
    <url-pattern>/adminEditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProduct</display-name>
    <servlet-name>AdminAddProduct</servlet-name>
    <servlet-class>web.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProduct</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductServlet</display-name>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <servlet-class>web.AdminUpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductServlet</servlet-name>
    <url-pattern>/adminUpdateProduct</url-pattern>
  </servlet-mapping>
</web-app>